@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Hairline.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Heavy.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Black.ttf);
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-HairlineItalic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-SemiboldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-HeavyItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(assets/fonts/Lato-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}