* {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    top: 0px;
    position: absolute;
    width: 1020px;
    height: 95px;
    background: #2d303a;
    border-bottom: 6px solid #323746;
}

#logo {
    float: left;
    margin: 40px;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    line-height: 6px;
    font-weight: 700;
    letter-spacing: -0.7px;
}

#logo span {
    color: #f06c64;
}

.header-nav {
    margin: 40px;
}

.navigation {
    margin-top: 45px;
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    letter-spacing: -0.4px;
}

.navigation li {
    display: inline;
    list-style-type: none;
    color: white;
}

.navigation li a {
    color: white;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
}

.navigation li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#active-nav {
    color: #f06c64;
}

.list-dot {
    color: #666 !important;
    cursor: default;
    text-decoration: none;
}

#list-dot:hover {
    cursor: default;
    text-decoration: none;
}

.slider-block {
    top: 95px;
    position: relative;
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
    width: 1020px;
    height: 600px;
}

.slider-block-arrows {
    position: absolute;
    width: 16px;
    height: 27px;
    top: 280px;
}

.left-arrow {
    left: 42px;
}

.right-arrow {
    right: 42px;
}

.slider-block-arrows:hover {
    cursor: pointer;
    filter: grayscale(100%);
}

.slider-block-iphones {
    position: absolute;
    border-radius: 27px;
    box-shadow: 25px 25px #cf5c55;
}

.iphone-vert {
    width: 215px;
    height: 458px;
    left: 111px;
    top: 53px;
}

.iphone-hor {
    height: 215px;
    width: 458px;
    right: 137px;
    top: 174px;
}

.services-block {
    top: 95px;
    position: relative;
    background: #f2f2f2;
    border-bottom: 6px solid white;
    width: 1020px;
    height: 501px; /*495*/
}

.services-block h2 {
    margin-left: 40px;
    padding-top: 65px;
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    color: #666d89;
    text-align: left;
}

.services-block p {
    margin-left: 40px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #767e9e;
    letter-spacing: -0.1px;
}

.services-block-grid {
    margin: 40px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-column-gap: 20px;
    grid-row-gap: 23px;
    grid-auto-flow: row;
}

.grid-element {
    display: grid;
    grid-template-columns: 59px 219px;
    grid-template-rows: 18px 128px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-auto-flow: row;
}

.grid-element img{
    width: 59px;
    height: 59px;
    border-radius: 29px;
}

.grid-element h4{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.1px;
}

.grid-element p {
    grid-column: 2;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    letter-spacing: -0.1px;
}
