* {
    font-family: 'Lato', sans-serif;
    letter-spacing: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #1abc9c;
}

header {
    top: 0px;
    position: absolute;
    background: #2d303a;
    width: 1020px;
    height: 95px;
    border-bottom: 6px solid #323746;
}

p {
    letter-spacing: -0.09px;
}

#logo {
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    line-height: 6px;
    font-weight: 700;
    margin: 40px;
}

#logo span {
    color: #f06c64;
}

.header-nav {
    margin: 40px;
}

.navigation {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 6px;
    font-weight: 600;
    text-align: right;
    margin-top: 45px;
}

.navigation li {
    display: inline;
    list-style-type: none;
    color: white;
}

.navigation li a {
    color: white;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
}

.navigation li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#active-nav {
    color: #f06c64;
}

#list-dot {
    color: #999;
    cursor: default;
    text-decoration: none;
}

#list-dot:hover {
    cursor: default;
    text-decoration: none;
}

.slider-block {
    top: 55px;
    position: relative;
    background: #f06c64;
    width: 1020px;
    height: 600px;
    border-bottom: 6px solid #ea676b;
}

.slider-block-grid {
    margin: 40px;
    display: grid;
    grid-template-columns: 16px 55px 230px 85px 483px 55px 16px;
    grid-template-rows: 53px 458px auto;
    align-items: center;
}

.slider-block img:nth-child(1) {
    width: 16px;
    height: 27px;
    justify-self: start;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
}

.slider-block img:nth-child(4) {
    width: 16px;
    height: 27px;
    justify-self: end;
    grid-column: 7;
    grid-row: 2;
    align-self: center;
}

.slider-block img:nth-child(1):hover, .slider-block img:nth-child(4):hover {
    cursor: pointer;
    filter: grayscale(100%);
}

.slider-block img:nth-child(2){
    width: 215px;
    height: 458px;
    border-radius: 27px;
    box-shadow: 25px 25px #cf5c55;
    grid-column: 3;
    grid-row: 2;
}

.slider-block img:nth-child(3){
    height: 215px;
    width: 458px;
    border-radius: 27px;
    box-shadow: 25px 25px #cf5c55;
    grid-column: 5;
    grid-row: 2;
    align-self: center;
}

.services-block {
    top: 55px;
    position: relative;
    background: #f2f2f2;
    width: 1020px;
    height: 501px;/*495*/
    border-bottom: 6px solid white;
}

.services-block h2 {
    margin-left: 40px;
    margin-right: 0px;
    padding-top: 65px;
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    text-align: left;
}

.services-block p {
    margin-left: 40px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
}

.services-block-grid {
    margin: 40px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-column-gap: 20px;
    grid-row-gap: 23px;
    grid-auto-flow: row;
}

.grid-element {
    display: grid;
    grid-template-columns: 59px 219px;
    grid-template-rows: 18px 128px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-auto-flow: row;
}

.grid-element img{
    width: 59px;
    height: 59px;
    border-radius: 29px;
}

.grid-element h4{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.grid-element p {
    grid-column: 2;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

