* {
    font-family: "Lato", sans-serif;
    letter-spacing: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 40px 0;
}

header {
    top: 0px;
    position: absolute;
    width: 1020px;
    height: 95px;
    background: #2d303a;
    border-bottom: 6px solid #323746;
}

#logo {
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    line-height: 0px;
    font-weight: 700;
    letter-spacing: -0.7px;
}

#logo span {
    color: #f06c64;
}

.navigation {
    margin-top: 45px;
    text-transform: uppercase;
    text-align: right;
    font-size: 12px;
    line-height: 10px;
    font-weight: 700;
    letter-spacing: -0.45px;
}

.navigation li {
    display: inline;
    list-style-type: none;
    color: white;
}

.navigation li a {
    color: white;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
}

.navigation li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#active-nav {
    color: #f06c64;
}

.list-dot {
    color: #666 !important;
    cursor: default;
    text-decoration: none;
}

#list-dot:hover {
    cursor: default;
    text-decoration: none;
}

.slider-block {
    top: 95px;
    position: relative;
    background: #f06c64;
    border-bottom: 6px solid #ea676b;
    width: 1020px;
    height: 600px;
}

.slider-block-arrows {
    position: absolute;
    width: 16px;
    height: 27px;
    top: 280px;
}

.left-arrow {
    left: 42px;
}

.right-arrow {
    right: 41px;
}

.slider-block-arrows:hover {
    cursor: pointer;
    filter: grayscale(100%);
}

.slider-block-iphones {
    position: absolute;
	border-radius: 27px;
    box-shadow: 25px 25px #cf5c55;
}

.iphone-vert {
    width: 215px;
    height: 458px;
    left: 111.5px;
    top: 53px;
}

.iphone-hor {
    height: 215px;
    width: 458px;
    right: 137px;
    top: 174px;
}

.services-block {
    top: 95px;
    position: relative;
    background: #f2f2f2;
    border-bottom: 6px solid white;
    width: 1020px;
    height: 500px; /*495 501*/
}

.services-block h2 {
    padding-top: 65px;
    padding-bottom: 23px;
    font-size: 30px;
    line-height: 25px;
    font-weight: 900;
    color: #666d89;
    text-align: left;
}

.services-block p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: #767e9e;
    letter-spacing: -0.1px;
}

.services-block-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-column-gap: 20px;
    grid-row-gap: 23px;
    grid-auto-flow: row;
}

.grid-element {
    display: grid;
    grid-template-columns: 59px 219px;
    grid-template-rows: 18px 128px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-auto-flow: row;
}

.grid-element img{
    width: 59px;
    height: 59px;
    border-radius: 29px;
}

.grid-element h4{
    font-size: 18px;
    line-height: 14px;
    color: #666d89;
    font-weight: 900;
    letter-spacing: -0.1px;
}

.grid-element p {
    grid-column: 2;
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: justify;
    letter-spacing: -0.1px;
}



.portfolio {
	top: 95px;
    position: relative;
    width: 1020px;
    height: 870px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio h2 {
    padding-top: 69px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
	font-weight: 900;
    letter-spacing: 0.3px;
}

.portfolio p {
    padding-top: 27px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
	text-align: left;
    letter-spacing: -0.22px;
}

.portfolio__menu {
    padding-top: 11px;
    overflow: hidden;
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
}

.portfolio__menu li {
    float: left;
    margin-right: 10px;
    list-style-type: none;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #666d89;
}
.portfolio__menu li:nth-child(1) { padding: 0 6px 0 8px; }
.portfolio__menu li:nth-child(2) { padding: 0 6px 0 6px; }
.portfolio__menu li:nth-child(3) { padding: 0 5px 0 5px; }
.portfolio__menu li:nth-child(4) { padding: 0 6px 0 6px; }


.portfolio__menu li a {
    display: block;
    color: #767e9e;
    text-align: center;
    text-decoration: none;
}

.portfolio__menu li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#portofolio__menu-active {
    border-color: #c5c5c5;
}

#portofolio__menu-active a {
    color: #dedede;
}

.layout-4-col {
    display: grid;
    padding-top: 19px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-flow: row;
}

.layout-4-col img {
    width: 220px;
    height: 187px;
    background-color: #464b5e;
}

.about-us {
	top: 94px;
    position: relative;
    width: 1020px;
    height: 733px; /*728 734*/
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-us h2 {
    padding-top: 69px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
	text-align: left;
}

.about-us p {
    padding-top: 26px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
	text-align: justify;
	letter-spacing: -0.4px;
}

.layout-3-col {
    padding-top: 74px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-auto-flow: row;
}

.layout-3-col__element img {
    width: 300px;
    height: 300px;
    background-color: #464b5e;
}

.layout-3-col__element h3 {
    padding-top: 13px;
    font-size: 18px;
    line-height: 22px;
    color: #666d89;
    font-weight: 900;
	text-align: left;
    letter-spacing: -0.1px;
}

.layout-3-col__element p {
    padding-top: 8px;
    width: 300px;
    height: 73px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
	text-align: justify;
	letter-spacing: -0.2px;
}

.about-us__social-media img {
	margin: 0 4px 0 0;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: #f2f2f2;
}

.about-us__social-media img:hover {
	cursor: pointer;
}

.about-us__social-media img:last-child {
	margin: 0;
}



.get-a-quote {
	top: 95px;
    position: relative;
    width: 1020px;
    height: 653px; /*648 654*/
	background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.get-a-quote h2 {
    padding-top: 69px;
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
	font-weight: 900;
    letter-spacing: 0.01px;
}

.get-a-quote p {
    padding-top: 27px;
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-weight: 300;
	text-align: justify;
    letter-spacing: -0.22px;
}

.get-a-quote__layout {
	margin-top: 54px;
	display: grid;
	padding-top: 19px;
    grid-template-columns: 619px 300px;
    grid-template-rows: 1fr;
    grid-column-gap: 21px;
    grid-auto-flow: row;
}

.get-a-quote__form input {
	width: 619px;
	height: 38px;
	border-radius: 5px;
	background-color: #d6564f;
	border: 3px solid #d6564f;
	font-size: 12px;
	line-height: 22px;
	color: #f0d8d9;
	font-weight: 400;
	text-align: left;
	margin-bottom: 16px;
	padding: 0px 11px;
	outline: none;
}

.get-a-quote__form input::-webkit-input-placeholder {
	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-weight: 400;
}

.get-a-quote__form input::-moz-placeholder {
	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-weight: 400;
}

.get-a-quote__form input:last-child {
	width: 150px;
	margin-left: 469px;
	text-align: center;
	background-color: #e7554e;
	border: 3px solid #e7554e;
	color: #ecacae;
}

.get-a-quote__form input:last-child:hover {
	background-color: #e75c54;
	transition: 0.2s ease-in-out;
}

.get-a-quote__form input:focus {
	border: 3px solid #e7534b;
}

.get-a-quote__form textarea {
	width: 619px;
	height: 202px;
	border-radius: 5px;
	background-color: #d6564f;
	border: 3px solid #d6564f;
	font-size: 12px;
	line-height: 22px;
    color: #f0d8d9;
	font-weight: 400;
	text-align: left;
	margin-bottom: 16px;
	padding: 4px 11px;
	outline: none;
	resize: none;
}

.get-a-quote__form textarea::-webkit-input-placeholder {
	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-weight: 400;
}

.get-a-quote__form textarea::-moz-placeholder {
	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-weight: 400;
}

.get-a-quote__form textarea:focus {
	border: 3px solid #e7534b;
}


.get-a-quote__contact-info h3 {
	font-size: 18px;
	line-height: 19px;
	color: #f0d8d9;
	font-weight: 900;
	text-align: left;
}

.get-a-quote__contact-info p {
	width: 300px;
	padding-top: 10px;
	font-size: 12px;
	line-height: 22px;
	color: #f0d8d9;
	font-weight: 400;
	text-align: justify;
}

.get-a-quote__contact-info ul {
	width: 300px;
	padding-top: 62px;
	font-size: 12px;
	line-height: 20px;
	color: #f0d8d9;
	font-weight: 400;
	text-align: left;
}

.get-a-quote__contact-info li {
	list-style: none;
	padding-bottom: 1.8px;
}

.get-a-quote__contact-info li a {
	padding-left: 6.5px;
	text-decoration: none;
	color: #f0d8d9;
}

.get-a-quote__contact-info li a:hover {
	text-decoration: underline;
	cursor: pointer;
}

footer {
	top: 95px;
    position: relative;
    width: 1020px;
    height: 76px;
	background-color: #2d303a;
}

.footer__layout {
	display: grid;
	grid-template-columns: 300px 153px;
	grid-column-gap: 488px;
	grid-template-rows: 1fr;
}

footer p {
	padding-top: 33px;
	padding-left: 2px;
	font-size: 12px;
	line-height: 12px;
	color: #666d89;
	font-weight: 400;
	letter-spacing: -0.25px;
}

.footer__social-media {
	padding-top: 22px;
}
.footer__social-media img {
	background-color: #2d303a;
}
